<mat-toolbar color="primary">
  <!-- <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button> -->
  <img width="30" src="assets/images/logo_tst.png" alt="image">
  <span>
    <h1>หจก.ไทยสุทัศน์</h1>
  </span>
  <span class="menu-spacer"></span>

  <span class="fill-remaining-space"></span>

  <div>
    <a mat-button [routerLink]="'/home'" routerLinkActive="active"> หน้าหลัก </a>
    <a mat-button [routerLink]="'/vendors'" routerLinkActive="active"> ผู้ขายสินค้า </a>

  </div>

</mat-toolbar>
